* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'SwissRoman', sans-serif;
	background: #e8e6e3;
}

.modal_container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	max-height: 100vh;
	margin: 20px;
}
