.mint {
	position: relative;

	.content {
		min-height: calc(100vh - 100px);
		display: flex;
		align-items: center;
		padding: 20px 0;

		.heading_row {
			align-items: flex-end;

			.left {
				h1 {
					font-weight: 400;
					font-size: 68px;
					line-height: 64px;
				}
			}

			.right {
				p {
					font-weight: 400;
					font-size: 12px;
					line-height: 20px;
					letter-spacing: 0.5px;
					text-transform: uppercase;
					color: #393939;
				}

				.price {
					display: flex;
					align-items: center;
					color: #393939;
					font-weight: 400;
					font-size: 12px;
					line-height: 20px;
					margin-top: 18px;

					span {
						margin-right: 22px;
					}

					img {
						margin-right: 10px;
					}
				}
			}
		}

		.traits_row {
			.left,
			.right {
				margin-top: 60px;
				.traits_nav {
					display: flex;
					justify-content: space-between;
					align-items: center;
					list-style: none;
					padding: 0;

					li {
						font-weight: 600;
						font-size: 14px;
						color: #393939;
						line-height: 17px;
						letter-spacing: 0.5px;
						text-transform: uppercase;
						position: relative;
						cursor: pointer;

						&::before {
							content: '';
							position: absolute;
							width: 57px;
							height: 1px;
							top: 34px;
							background: #393939;
						}

						&:nth-child(2) {
							&::before {
								display: none;
							}
						}

						img {
							margin-right: 3px;
						}
					}
				}
			}

			.left.traits {
				margin-top: 40px;

				.trait_cards {
					display: grid;
					grid-gap: 15px;
					grid-template-columns: repeat(2, 1fr);
					grid-auto-rows: 1fr;

					.trait_card {
						border: 1px solid #393939;
						box-sizing: border-box;
						border-radius: 17px;
						padding: 15px;
						cursor: pointer;
						height: auto;

						.title {
							font-size: 18px;
							line-height: 22px;
							letter-spacing: 0.025em;
							text-transform: uppercase;
							color: #393939;
							font-family: 'SwissRoman';
						}

						.text {
							margin-top: 5px;
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
							letter-spacing: 0.5px;
							color: #393939;
						}

						&:hover {
							background: rgba(255, 255, 255, 0.6);
						}
					}
				}
				.remaining_card_bar {
					position: relative;
					margin-top: 15px;
					height: 48px;
					border: 1px solid #393939;
					box-sizing: border-box;
					border-radius: 12px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 15px;

					.progress_overlay {
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						border-radius: 12px;

						background: rgba(255, 255, 255, 0.6);
					}

					.title,
					.remaining {
						font-weight: 400;
						font-size: 14px;
						line-height: 16px;
						letter-spacing: 0.04em;
						color: #393939;
						cursor: pointer;
						z-index: 9;
					}
				}

				.buttons_row {
					display: flex;
					gap: 20px;
					margin-top: 30px;

					button {
						border: 1px solid #393939;
						box-sizing: border-box;
						border-radius: 46px;
						height: 40px;
						width: 150px;
						background: transparent;
						outline: none;
						cursor: pointer;
						color: #393939;
						font-weight: 600;
						font-size: 12px;
						font-family: 'SwissRoman';
					}
				}
			}

			.right.recipient_img {
				margin-top: 40px;
				min-height: 400px;

				.img_container {
					border-radius: 25px;
					background: black;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					padding: 20px;

					button {
						position: absolute;
						background: #ffffff;
						border-radius: 135px;
						width: 126px;
						height: 126px;
						opacity: 0.5;
						cursor: pointer;
						border: none;
						color: #393939;
						text-transform: uppercase;
						letter-spacing: 1.5px;
						text-transform: uppercase;

						&:hover {
							cursor: pointer;
							opacity: 1;
						}
					}
				}
			}
		}

		.buttons_row {
			display: flex;
			gap: 20px;
			margin-top: 30px;

			button {
				border: 1px solid #393939;
				box-sizing: border-box;
				border-radius: 46px;
				height: 40px;
				width: 150px;
				background: transparent;
				outline: none;
				cursor: pointer;
				color: #393939;
				font-weight: 600;
				font-size: 12px;
				font-family: 'SwissRoman';
			}
		}
	}

	.page_overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(232, 230, 227, 0.6);
		top: 0;
		left: 0;
	}
}
