.mint_success {
	padding: 0 100px;
	height: 100%;
	min-height: 100vh;

	.success {
		display: flex;
		align-items: center;
		height: 100%;

		.success_row {
			width: 100%;
			height: 100%;
			display: flex;
			gap: 50px;
			align-items: center;

			.left_col {
				width: 50%;

				h1 {
					font-weight: 400;
					font-size: 68px;
					line-height: 64px;
				}

				p {
					font-weight: 400;
					font-size: 12px;
					line-height: 20px;
					letter-spacing: 0.5px;
					text-transform: uppercase;
					color: #393939;
					margin-top: 20px;
				}

				.buttons {
					display: flex;
					gap: 15px;

					button {
						background: rgba(255, 255, 255, 0.8);
						border: 1px solid #393939;
						box-sizing: border-box;
						border-radius: 90px;
						padding: 16px 24px;
						font-weight: 400;
						font-size: 14px;
						line-height: 16px;
						letter-spacing: 0.11em;
						text-transform: uppercase;
						color: #393939;
						display: block;
						width: 100%;
						margin-top: 40px;
						display: flex;
						gap: 20px;

						justify-content: center;
						cursor: pointer;
					}
				}
			}

			.right_col {
				padding: 30px;
				width: 50%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					border-radius: 17px;
				}
			}
		}
	}
}

@include tablet-screen {
	.mint_success {
		padding: 0 20px;
		.success {
			min-height: 100%;

			.success_row {
				flex-direction: column;

				.left_col {
					width: 100%;

					h1 {
						font-size: 50px;
						line-height: 60px;
					}

					.buttons {
						button {
							padding: 12px 16px;
							font-size: 12px;
							margin-top: 30px;
						}
					}
				}

				.right_col {
					width: 100%;
				}
			}
		}
	}
}
